* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero-Section styleing ST */

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-contain h2{
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.hero-contain h3{
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* Hero-Section styleing END */