* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero-Section styleing ST */

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-contain h2{
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.hero-contain h3{
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* Hero-Section styleing END */

/* Second-page_contain styleing ST */

.second-page {
  height: 100vh;
  width: 100%;
  background-color: #FAF9F6;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-contain {
  height: 60%;
  width: 50%;
}
.s-contain h1{
  color: #F00;
  text-align: center;
  font-family: Arial;
  font-size: 85px;
  font-weight: 700;
  padding: 30px 0;
}
.s-contain p{
  color: #F00;
  text-align: center;
  font-family: Arial;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 10px;
}
.s-contain h3{
  color: #070211;
  text-align: center;
  font-family: Arial;
  font-size: 42px;
  font-weight: 700;
  padding-bottom: 30px;
}
.new-year-img {
  height: 320px;
  margin-left: 60px;
}

/* Second-page_contain styleing END */